<%= form_tag('/team_themes', method: :post, controller: :team_themes, action: :create) do %>
   <%= hidden_field_tag :theme_id, theme.id %>
   <%= collection_select :team, :team_id, current_user.teams.all, :id, :name, {}, class: 'form-control' %>
    
    <div class="edit_button">
        <%= submit_tag 'このチームを追加', class: 'btn btn-secondary btn-block' %>
    </div>
<% end %>