@charset "utf-8";

/* navbar */
.navbar {
  background-color: #000099;
}

/* footer */
footer {
  margin-top: 40px;
}

/* toppage */
.jumbotron {
  background-color: #F0FFFF;
}

/* user-page, mypage */
#wrapper {
  width: 984px;
}

aside.left {
  float: left;
  width: 300px;
  background-color: #EEEEEE;
  padding :5px 5px;
}

div.main {
  padding :5px 20px;
  float: right;
  width: 684px;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* team, theme, task */
.th_team_normal {
  word-break: normal;
}

.detail {
  background-color: #FFF;
  margin-bottom: 10px;
  border: 1px solid #808080;
}

.members_list {
  text-align: left;
}

/* comment */

.comment {
  background-color: #EEEEEE ;
  border-radius: 10px;
  padding: 5px;
}

/* common */
.edit_button {
  margin-top: 10px;
  margin-bottom: 30px;
}

p.normal {
  word-break: normal;
}