@charset "utf-8";

/* navbar */
.navbar {
  background-color: #000099;
}

/* footer */
footer {
  margin-top: 40px;
}

/* toppage */
.jumbotron {
  background-color: #F0FFFF;
}

/* team, theme, task */
.th_team_normal {
  word-break: normal;
}

.detail {
  background-color: #FFF;
  margin-bottom: 10px;
  border: 1px solid #808080;
}

.members_list {
  border: 1px solid #808080;
  list-style: none;
  text-align: center;
  width: 360px;
}

/* common */
.edit_button {
  margin-top: 10px;
  margin-bottom: 30px;
}

p.normal {
  word-break: normal;
}
